<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Image</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container">
    <h1 class="title">Processed Image</h1>

    <div class="view-box">
        <img src="{{ image_url }}" class="result-img">
    </div>

    <a href="/download/{{ filename }}" class="btn primary">Download Image</a>
    <a href="/" class="btn secondary">Go Back</a>
</div>

</body>
</html>
